language: python
dist: xenial # required for Python >= 3.7
python:
  - 3.6
  - 3.7
install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
script:
  - pytest --cov
after_success:
  - pip install codecov
  - codecov
